@font-face {
  font-family: UbuntuMP-Regular;
  src: url("~assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: UbuntuMP-Bold;
  src: url("~assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: UbuntuMP-Light;
  src: url("~assets/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: UbuntuMP-Medium;
  src: url("~assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
